[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rdparty/gumbo-parser"]
	path = 3rdparty/gumbo-parser
	url = https://github.com/google/gumbo-parser.git
[submodule "3rdparty/cpp-musicscrape"]
	path = 3rdparty/cpp-musicscrape
	url = https://github.com/wheeland/cpp-musicscrape.git
[submodule "3rdparty/android_openssl"]
	path = 3rdparty/android_openssl
	url = https://github.com/KDAB/android_openssl.git
